{% extends 'core/base.html' %}
{% load menu %}
{% load static %}

<a href="{% url 'frontpage' %}">HOME</a>
<a href="{% url 'add_property-page' %}">ADD POST</a>

{% block title %}
Welcome
{% endblock %}

{% block messages %}
{% include 'core/messages.html' %}
{% endblock %}





{% block search %}
    {% include 'core/search.html' %}
{% endblock %}





{% block content %}
    {% if property %}
        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3">Property Listing</h1>
                            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                        {% for property in filter.qs %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <a href="{% url 'property_deatil-page' property.instituition.slug property.id %}">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            {% if property.thumbnail %}
                                            <img class="img-fluid" src="{{property.thumbnail.url}}" alt="">
                                            {% else %}
                                            <img class="img-fluid" src="{% static 'core/img/property-1.jpg' %}" alt="">
                                            {% endif %}
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">${{property.price}}</h5>
                                            <a class="d-block h5 mb-2" href="{% url 'property_deatil-page' property.instituition.slug property.id %}">{{property.title}}</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.location }}</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.building_size_in_SQFT }} Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ property.bedroom }} Bed</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{ property.bathroom }} Bath</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <div class="btn btn-primary py-3 px-5pagination">
                                    <span class="step-links">
                                        {% if properties.has_previous %}
                                            <a style="color: inherit; text-decoration: none;" href="?page={{ properties.previous_page_number }}">previous</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
                                        </span>
                                
                                        {% if properties.has_next %}
                                            <a style="color: inherit; text-decoration: none;" href="?page={{ properties.next_page_number }}">next</a>
                                        {% endif %}
                                    </span>
                                </div>
                                <!-- <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Property List End -->
    {% endif %}
{% endblock %}


